<!DOCTYPE html>
<html class="no-js" lang="nl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!-- disable telephone detection ios / blackberry -->
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-rim-auto-match" content="none" />

    <!-- disable tap highlighting -->
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <title>TODO: set title</title>

<!--    <link rel="stylesheet" href="css/style.css" />-->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/demo.css" />
    <script>BASEJSPATH = "js";</script>
    <script src="js/libs/modernizr-3.0.0-beta.min.js"></script>
    <script src="js/libs/require.js"></script>
    <script src="js/swp.js"></script>
</head>
<body>
x§
