{{#item}}
    <tr data-event="deleteRow" data-id="1" data-xhr-method="DELETE" data-xhr-url="json/delete-row.json">
        {{#data}}
            {{#.}}
            <td>{{.}}</td>
            {{/.}}
        {{/data}}
    </tr>
{{/item}}
